#bleu{background-color:blue;

color:blue;}
#blanc{background-color:white;

color:white;}
#rouge{background-color:red;

color:red;}

#noir{background-color:black;

color:black;}


#jaune{background-color:yellow;
        color:yellow;}
#rouge1{background-color:red;

        color:red;
        padding: 50px 200px;}

        #noir1{background-color:black;

        color:black;
        padding: 50px 200px;}


#jaune1{background-color:yellow;
                color:yellow;
                padding: 50px 200px;}
#blanc1{background-color:white;
                                color:white;
                                padding: 50px 200px;}
#bleu1{background-color:blue;
color:blue;
padding: 50px 200px;}


#hide{display: none;}
#startt{display: none;}
#joker{visibility: visible;
  position: absolute;

  left: 40%;
}
#abdandon{visibility: visible;
  position: absolute;
  top:62%;
  left: 42%;}
#score{
  position: absolute;
  top: 75%;
  left: 30%;
  color: white;
  font-size: 2em;
  align:center;
  font-family: silkscreennormal;
}
.timer{  position: absolute;
  top: 80%;
  left: 30%;
  color: white;
  font-size: 2em;
  align:center;
  font-family: silkscreennormal;}
button{text-align: center;
position: relative;
top: 50%;
}

button:hover{-webkit-animation: flip-scale-up-hor 0.5s linear both;
	      }
.niveau{
  position: absolute;
    top: 0%; left: 40%;

  width: 400px;
  height: 800px;
  border-width:1px;
border-style:dotted;
border-color:black;

}
@font-face {
    font-family: 'silkscreennormal';
    src: url('font/slkscr-webfont.woff2') format('woff2'),
         url('font/slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}
