body{
background-color:black;

background-image: url("image/animation1.gif");
}
button{
  padding: 150px 90px;

font-family: silkscreennormal;
}
.image{
  position: absolute;
  left:30%
}
#validee{
  position: absolute;
    top: 40%;
}
#starttt{
  position: absolute;

  align:center;

  top: 60%;
  left: 35%;


}

#startt:active{left: 8%;
}
.exemple {
   margin-top: auto;
  text-align: center;
  border: solid;
}
.exemple{
  text-align: center;
}
#pays{
  text-align: center;
}
.joker{visibility: hidden;}
#abdandon{visibility: hidden;}
@font-face {
    font-family: 'silkscreennormal';
    src: url('font/slkscr-webfont.woff2') format('woff2'),
         url('font/slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#clique{

  align:left;
}
header{
  color: white;
  font-family: silkscreennormal;
  max-height: 550px;
 width: 50%;
 height: 900px;
 margin: 0 auto;
 font-size: 5em;

}
.zoom div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.zoom {background-image: url("image/animation1.gif");}
.popup1 {
  background-image: url("image/popup.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: 48% ;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  	opacity:0.96;
}

.popup2 {

  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.contenu1{

font-size: 2em;
  margin: 5*4px auto;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-family: silkscreennormal;

}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
#startt {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
}
